<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">

  <title>EZ-Services</title>
</head>

<body>
  <%- include('../partials/empDashboardNav'); %>

  <!-- Side nav -->

  <div class="container-fluid">
    <div class="row">

      <%- include('../partials/empDashboardSideNav'); %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="row d-flex justify-content-center pb-2 pt-2">
            <h3 class="desc bg-dark text-white p-3 rounded-pill">Available Bookings</h3>
        </div>

        <div class="table-responsive border shadow">
          <table class="table table-hover">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col ">Booking ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Service Required</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">City</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <% var i = 1 %>
              <% bookings.forEach(function(booking){ %>
              <tbody>
                  <tr>
                      <th scope="row"><%= i %></th>
                      <td><%= booking.bookingId %></td>
                      <td><%= _.capitalize(booking.name) %></td>
                      <td><%= _.capitalize(booking.typeOfService) %></td>
                      <td><%=  booking.mobile %></td>
                      <td><%= _.capitalize(booking.city) %></td>
                      <td><%= moment(booking.createdAt).format( 'MMMM Do YYYY, h:mm:ss a') %></td>
                      <td><%= _.capitalize(booking.status) %></td>
                      <td>
                          <a href="/employees/available_service/<%= booking.bookingId %>" class="btn  btn-outline-primary btn-float  btn-sm ">View</a>
                          <!-- <form method="POST" action=""  id="delete-service"> -->
                              <input type="hidden" name="_method" value="DELETE">
                              <!-- <button type="submit" class="btn btn-outline-danger btn-sm "><i class="fas fa-trash-alt"></i></button> -->
                          <!-- </form> -->
                      </td>
                  </tr>
                  <% i++ %>
              </tbody>
              <% }) %>
          </table>
      </div>
      </main>
    </div>
  </div>

  <%- include('../partials/script'); %>

</body>

</html>