<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">

  <title>EZ-Services</title>
</head>

<body>
  <%- include('../partials/userDashboardNav'); %>

  <!-- Side nav -->

  <div class="container-fluid">
    <div class="row">

      <%- include('../partials/userDashboardSideNav'); %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1></h1>
        </div> -->

        <div class="container">
            <div class="row d-flex justify-content-center pb-2 pt-2">
                <h3 class="desc bg-dark text-white p-3 rounded-pill">Booking Description</h3>
            </div>
            <div class="container booking-receipt border shadow">
                <div class="row border-bottom">
                    <div class="col-sm-2">
                        <p class="font-weight-bold">Booking-ID</p>
                    </div>
                    <div class="col-sm-6">
                        <p ><%= service._id %><p>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-sm-2">
                        <p class="font-weight-bold">Name</p>
                    </div>
                    <div class=" col-sm-6">
                        <p ><%= service.name %> <p>
                    </div>
                </div> 
                <div class="row border-bottom">
                    <div class="col-md-2 col-lg-2">
                        <p class="font-weight-bold">Email</p>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p ><%= service.email %></p>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <p class="font-weight-bold">Phone</p>
                    </div>
                    <div class="col-md-2 col-lg-4">
                        <p ><%= service.phone %><p>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-sm-2">
                        <p class="font-weight-bold">Address</p>
                    </div>
                    <div class=" col-sm-6">
                        <p ><%= service.address %><p>
                    </div>
                </div> 

                <div class="row border-bottom">
                    <div class="col-sm-2 col-md-2 ">
                        <p class="font-weight-bold">City</p>
                    </div>
                    <div class=" col-sm-4 col-md-4">
                        <p ><%= service.city %></p>
                    </div>
                    <div class="col-md-2 col-sm-2 ">
                        <p class="font-weight-bold">State</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p ><%= service.state %><p>
                    </div>
                </div>


            </div>
            
        </div>

      </main>
    </div>
  </div>

  <%- include('../partials/script'); %>

  <script src="dashboard.js"></script>
</body>

</html>